<div class="hero"> 
  <div class="hero-box col-6 offset-1 ">
		<h1>Skills to move you forward</h1>
		<h4>Anytime. Anyplace.</h4>
		<form class="d-flex form-inline">
      <input class="form-control col mr-2" type="text" placeholder="What would you like to learn?">
      <button class="btn btn-light col-lg-1" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
	</div>
</div>

<br />
<div class="row feature text-center">
	<div class="col-12 col-sm border-right">
		<h3>Learn from the Best</h3>
    	<p>Build your Skill</p>
	</div>

	<div class="col-12 col-sm border-right">
		<h3>Over 100+ Courses</h3>
    	<p>In a variety of visual spaces.</p>
	</div>

	<div class="col-12 col-sm">
		<h3>Lifetime Access</h3>
    	<p>Learn on your schedule!</p>
	</div>
</div>