<br />

<div class="box-style col-10 offset-1">
    <h1 class="text-center">About</h1>

    <div class="row align-items-center">
        <div class="col-6">
            <div class="team-alex-wrapper">
                <%= image_tag ("me.jpg"), class: "team-alex-image w-100"%>
                <div class="overlay">
                    <div class="w-100 team-alex-text p-2">Hi!</div>
                </div>
            </div>
        </div>
        <div class="col-6">
					<h3 class="pl-2 text-center">Alex is a photographer and digital marketer turned developer.</h3>
						<br/>
						<br/>
					  <p>With over a decade of visual design with photography, film making and digital marketing, I wanted to create a website where others can learn specifically about visual design.</p>
        </div>
    </div>
</div>