<br />

<div class="box-style col-10 offset-1">
    <h1 class="text-center">Learn something today</h1>
    <hr />

    <% @courses.each do |course| %>
        <h2 class="course-title text-center mb-3"><%= link_to course.title, course_path(course) %></h2>
        <div class="row">
            <div class="col-sm-10 col-12 ">
                <%= course.description %>
            </div>
            <div class="col-sm-2 col-12 my-auto text-center">
                <%= link_to "Learn More", course_path(course), class: "btn btn-outline-secondary btn-large"%>
            </div>
        </div>
        <br class="clr" />
    <% end %>
</div>